{% extends 'base.html' %} {% load static %} {% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>Calculator</h1>
            <p>A new generation Calculator.</p>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>

<!-- CONTENT START -->
<section>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <form method="POST">
                    {% csrf_token %}
                    <div class="controls">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="number" name="num1" value="{{ num1 }}" class="form-control custom-form" placeholder="Enter First Number: ">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="number" name="num2" value="{{ num2 }}" class="form-control custom-form" placeholder="Enter Second Number: ">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="btn btn-washla" type="submit" value="add" name="operation">
                                    <input class="btn btn-washla" type="submit" value="sub" name="operation">

                                    <input class="btn btn-washla" type="submit" value="mul" name="operation">
                                    <input class="btn btn-washla" type="submit" value="div" name="operation">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <h2 style="color: #01B3E4;">
                                    Answer : {{ans}}
                                </h2>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>

</section>
<!-- CONTENT END -->

{% endblock %}