{% extends 'base.html' %} {% load static %} {% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>Forget Page</h1>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>

<!-- FORGET FORM START -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <br/>
            <form method="POST">
                {% csrf_token %}
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="password" name="pass1" class="form-control custom-form" placeholder="New Password ">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="password" name="pass2" class="form-control custom-form" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h5>
                                    <a style="font-size: 19px; color: #01B3E4;"></a>
                                    {% for message in messages %} {% if message.tags %} {{ message }} {% endif %} {% endfor %}
                                </h5>
                            </div>
                        </div>

                    </div>

                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="form-group ">
                                <input class="btn btn-washla" type="submit" value="Submit">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- FORGET FORM END -->

{% endblock %}