{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>SignUp</h1>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>

<!-- CONTACT FORM START -->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <br />
            <form method="POST">
                {% csrf_token %}
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input id="name" type="text" name="name" class="form-control custom-form"
                                    placeholder="*Name" required="required" data-error="Name is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/"  -->
                                <input id="email" type="text" name="email" class="form-control custom-form"
                                    placeholder="*Email" required="required" data-error="Valid email is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$" -->
                                <!-- minlength and maxlength is not working -->
                                <input minlength="10" maxlength="10" id="num" type="number" name="number" class="form-control custom-form"
                                    placeholder="*Phone" required="required" data-error="Valid number is required.">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input minlength="8" id="password" type="password" name="password" class="form-control custom-form"
                                    placeholder="*password" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input minlength="8" id="password" type="password" name="confirmPassword"
                                    class="form-control custom-form" placeholder="*confirmPassword" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <p class="required">
                                * These fields are required.
                            </p>

                            <div class="form-group">
                                <input class="btn btn-washla" type="submit" value="Signup">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <a>Already a User ?<br></a>
                                <h5>
                                    <a href="{% url 'LOGIN' %}" style="font-size: 19px; color: #01B3E4;"
                                        onMouseOver="this.style.color='#033B4A'"
                                        onMouseOut="this.style.color='#01B3E4'">Go for Login</a>
                                </h5>
                            </div>

                            <!-- This is for Error Message -->
                            <!-- <h3 style="color: #ff0000;">{{msg}}</h3> -->
                            {% if msg %}
                            <script>alert('{{msg}}')</script>
                            {% endif %}
                        </div>

                    </div>

                </div>

        </div>
        </form>
    </div>
</div>
</div>

<!-- CONTACT FORM END -->

{% endblock %}