{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- 404 ERROR PAGE CONTENT -->
    <div class="error-page">
        <div class="error-page-content">
            <h5 style="font-size: 75px; color: #033B4A; text-decoration: underline;"
            onMouseOver="this.style.color='#FA1E0F'"
            onMouseOut="this.style.color='#033B4A'">
                {{msg}}
            </h5>
            
            <h2 style="margin: 50px;">Please try again</h2>

            <h5>
                <a href="{% url 'LOGIN' %}"  style="font-size: 52px; color: #033B4A;" 
                    onMouseOver="this.style.color='#fff'"
                    onMouseOut="this.style.color='#033B4A'">
                    Go for Login
                </a>
            </h5>
        
        </div>  

    </div>

{% endblock %}