{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Sub Product</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>  
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <div class="container mt-5 mb-5">

            <div class="row">
                <div class="col-lg-9">
                    <div class="blog-content">
                        <figure class="post-image">
                            <img src="{{i.images.url}}" alt="">
                        </figure>
                        
                        <div class="post-content">
                            <h2 class="post-title">{{i.title}}</h2>
                            <p>{{i.description}}</p>
                            <h3 class="post-title">Rs {{i.price}}/-</h3>
                            <blockquote class="ludwig">Rs {{i.price}}/-</blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                {{value}}
            </div> -->

        </div>
    </section>
    <!-- CONTENT END -->
{% endblock %}