{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--SLIDER START-->
<div class="pages-hero">
   <div class="container">
      <div class="pages-title">
         <h1>My Orders</h1>
         <p>A new generation of cleaning and restoration concepts.</p>
      </div>
   </div>
</div>
<!--SLIDER END-->
</header>

<!-- CONTENT START -->
<section>
   <!-- CART SECTION START -->

   <div class="bg-wrapper contact-wrapper mb-5">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">

               <div class="col-md-8 mx-auto">

                  <!-- -----------Main Section------------------ -->
                  {% for i in allOrder %}

                  <h2>
                     {{i.order_id}}
                  </h2>
            
                  <br>
                  <br>
                  {% endfor %}


               </div>

            </div>

         </div>
      </div>
   </div>



   <!-- footer -->
   {% endblock %}