{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>My Orders</h1>
            <p>A new generation of cleaning and restoration concepts.</p>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>
<!-- CONTENT START -->
<section>
    <!-- PRODUCT START -->
    <div class="container mt-5 mb-5">
        <div class="section-heading">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <!-- ----------------------------Order container start-------------------------------- -->
                        
                        {% for i in oids %}
                        <div class="card">
                            <div class="card-body">
                                <h2><a href="{% url 'VIEWSPECIFIC' i %}">{{ i }}</a></h2>
                            </div>
                        </div>
                        <br>
                        <br>
                        {% endfor %}

                        <!-- ----------------------------Order container end-------------------------------- -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- PRODUCT END -->
</section>
<!-- CONTENT END -->

{% endblock %}