{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>My Cart</h1>
            <p>A new generation of cleaning and restoration concepts.</p>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>

<!-- CONTENT START -->
<section>
    <!-- CART SECTION START -->
{% if k %}

    <div class="bg-wrapper contact-wrapper mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-md-8 mx-auto">

                        <!-- -----------Main Section------------------ -->

                        {% for i,j in k.items %}
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <img src="{{i.images.url}}" style="width: 270px; height: 180px;">

                            <div class="order" style="margin:0 30px;">
                                <div style="margin: 5px 0px; color: #01B3E4; font-weight: bold; font-size:21px">
                                    {{i.title}}
                                </div>
                                <div>
                                    <div style="font-size: 14px">
                                        {{i.description}}
                                    </div>
                                    <hr>
                                    <div style="color: #000; font-size: 16px; font-weight:bold">
                                        Price is ₹{{i.price }} x {{ j.quantity}} Qty
                                    </div>

                                    <hr>

                                    <a href="{% url 'REMOVECART' i.id %}">
                                        <div style="color: #FA1E0F; font-size: 16px; font-weight:700">
                                            Remove
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor%}

                        <!-- -------------------Main Section End---------------------- -->

                        <div style="display: flex; flex-direction: row; justify-content: center;">

                            <div class="order">
                                <div style="font-weight: 700; font-size:25px; color: #000; margin: 20px 0">
                                    Total Amount: <span style="color: #01B3E4;"> ₹{{p}}/- </span>
                                </div>
                                <div>
                                    <a href='{% url "MYORDER" %}'>
                                        <span
                                            style="color: #fff; background-color: #01B3E4; font-weight: 700; font-size:20px; padding: 8px; border-radius: 4px; margin: 20px 0;">
                                            Order Now
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% else %}

    <div class="bg-wrapper contact-wrapper mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-8 mx-auto">
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="order">
                                <div style="font-weight: 700; font-size:30px;  margin: 20px 0">
                                    <span style="color: #FA1E0F;">Sorry, your cart is empty...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-8 mx-auto">
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <div class="order">
                                <div style="font-weight: 700; font-size:30px;  margin: 20px 0">
                                    <a href='{% url "PRODUCT" %}'>
                                        <span
                                            style="color: #01B3E4;">
                                            Go to Product page
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endif %}
    

<!-- footer -->
    {% endblock %}