{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>Checkout</h1>
            <p>A new generation of cleaning and restoration concepts.</p>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>

<!-- CONTENT START -->
<section>
    <!-- ABOUT SECTION START -->
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-lg-6">

                <!-- -----------Main Section------------------ -->

        <h2>Order-Details</h2>
        <br>
        <div class="or">
            {% for i,j in k.items %}
            <h3>{{i.title}}</h3>
            <div>
                <img style="height: 246px; width: 254px; " src="{{i.images.url}}" width="350">
            </div>
            <p>{{i.description}}</p>
            <p>price = {{i.price}}₹</p>
            
             <div style="margin-left: 5px;">
                    Qunatity
                    {% if j.quantity %}
                    <input value={{j.quantity}}  readonly>
                    {% else %}
                    <input value={{j}}  readonly>
                    {% endif %}
             </div>           
            <hr>
            {% endfor%}
            
            
            <div class="col-md-8 address_form">
                
                <h4>Billing Address</h4>
                
                <form method="POST">
                    {% csrf_token %}

                    <div class="creditly-wrapper wrapper">
                        
                        <div class="information-wrapper">
                            <div class="first-row form-group">

                                <div style="display: none;"><input value={{qty}}  name="Qunatity">
                                    <input value={{p}}  name="price" >
                                </div>
                    
                                <div class="controls">
                                    <label class="control-label">Full name: </label>
                                    <input class="billing-address-name form-control" type="text"
                                        name="name" placeholder="Full name" required>
                                </div>
                    
                                <div class="controls">
                                    <label class="control-label">State: </label>
                                    <input class="billing-address-name form-control" type="text"
                                        name="state" placeholder="Enter your state" required>
                                </div>
                    
                                <div class="controls">
                                    <div class="controls">
                                        <label class="control-label">City:</label>
                                        <input class="form-control" type="text"
                                            name="city" placeholder="Enter your City" required>
                                    </div>
                                </div>
                                
                                <div class="controls">
                                    <div class="controls">
                                        <label class="control-label">City:</label>
                                        <input class="form-control" type="text"
                                            name="address" placeholder="Enter your Address" required>
                                    </div>
                                </div>
                                
                                <div class="controls">
                                    <div class="controls">
                                        <label class="control-label">pin-code :</label>
                                        <input class="form-control" type="number"
                                            name="pincode" placeholder="Enter your pincode" required>
                                    </div>
                                </div>
                                
                                <div class="controls">
                                    <div class="controls">
                                        <label class="control-label">Service-date: </label>
                                        <input class="form-control" type="text"
                                            name="date" placeholder="enter service date" required>
                                    </div>
                                </div>                                
                                
                                <div class="controls">
                                    <label class="control-label">Contact.no: </label>
                                    <input class="form-control" type="text" name="phone"
                                        placeholder="enter your contact number" required>
                                </div>
                                
                                <!-- <div class="controls">
                                    <label class="control-label">Address type: </label>
                                    <select class="form-control option-fieldf">
                                        <option value="office" name="atype">Office</option>
                                        <option value="Home" name="atype">Home</option>
                                        <option value="Commercial" name="atype">Commercial
                                        </option>
                                    </select>
                                </div> -->

                            </div>

                            <form action="https://www.example.com/payment/success/" method="POST">
                                <script    src="https://checkout.razorpay.com/v1/checkout.js"    
                                    data-key="YOUR_KEY_ID" 
                                    // Enter the Test API Key ID generated from Dashboard → Settings → API Keys    
                                    data-amount= {{p}} // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.    
                                    data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account    
                                    data-order_id="order_CgmcjRh9ti2lP7"// Replace with the order_id generated by you in the backend.    
                                    data-buttontext="Pay with Razorpay"    
                                    data-name="Acme Corp"    
                                    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"    
                                    data-image="https://example.com/your_logo.jpg"    
                                    data-prefill.name="Gaurav Kumar"    
                                    data-prefill.email="gaurav.kumar@example.com"    
                                    data-theme.color="#F37254">
                                </script>
                                <input type="hidden" custom="Hidden Element" name="hidden">
                            </form>
                            

                        
                            <div style="margin-top: 10px;margin-bottom: 10px;">

                                <a href="{% url 'HOME' %}"><button>cancel</button></a>
                                
                                <a><input type="submit" value="confirm and pay" name='osub'></a>
                            
                            </div>
                        </div>
                    
                    </div>
                
                </form>

            </div>
           
            <!-- <form method="POST">
                {% csrf_token %}
                
                <div class='or'>
                    <div class="oritem">
                        <div style="display: none;"><input value={{qty}}  name="Qunatity">
                        <input value={{p}}  name="price" ></div>
                        
                        <label>Name : </label>
                        <input type="text" name='name'  placeholder=" enter your name " required>
                    </div>
                    <div class="oritem">
                        <label>State : </label>
                        <input type="text" name='state'  placeholder=" enter your state " required>
                    </div>
                    <div class="oritem">
                        <label>city : </label>
                        <input type="text" name='city'  placeholder=" enter your city " required>
                    </div>
                    <div class="oritem">
                        <label>Address: </label>
                        <input type="text" name='address' placeholder="enter your address"  aria-setsize="200px" required>
                    </div>
                    <div class="oritem">
                        <label>pin-code : </label>
                        <input type="number" name='pincode'  placeholder=" enter your state " required>
                    </div>
                    <div class="oritem">
                        <label>service-date</label>
                        <input type="date" name='date'  placeholder=" enter service date " required >
                    </div class="oritem">

                    <div class="oritem">
                        <label>Contact.no: </label>
                        <input type="number" name='phone'  placeholder=" enter your contact number " required maxlength="11" minlength="11">
                    </div>
                    
                </div>

                <div class="order">
                <div>
                    <hr> 
                    <br>
                    <div>TOTAL = {{p}}₹</div>
                    
                <p> RAZORPAY INTEGRATION HERE </p>
        <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="rzp_test_ov7fBmU4EJwsAn"
        data-amount="{{p}}" data-currency="INR" data-order_id="{{dfghfg23456}}" 
        data-buttontext="Pay with Razorpay"
        data-name="Professional Cipher" data-description="Django and Data Science"
        data-image="https://example.com/your_logo.jpg" data-prefill.name="PC" data-prefill.email="pc@studygyaan.com"
        data-theme.color="#F37254"></script>
                    
                </div>
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <a href="{% url 'HOME' %}"><button>cancel</button></a>
                    <a><input type="submit" value="confirm and pay" name='osub'></a>
                </div>
            </form> -->
            
            </div>
            
        </div>


        <!-- -------------------Main Section End---------------------- -->


    </div>
</div>
</div>

<!-- footer -->
{% endblock %}