{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--SLIDER START-->
<div class="pages-hero">
    <div class="container">
        <div class="pages-title">
            <h1>My Order</h1>
            <p>A new generation of cleaning and restoration concepts.</p>
        </div>
    </div>
</div>
<!--SLIDER END-->
</header>

<!-- CONTENT START -->
<section>
    <!-- ORDER SECTION START -->
    <div class="bg-wrapper contact-wrapper mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">


                    <div class="col-md-8 mx-auto">

                        <div class="contact-title">
                            <h3 style="color: #01B3E4">Order Details</h3>
                        </div>
                        <br />

                        <!-- -----------Main Section------------------ -->
                        {% for i,j in k.items %}
                        <div style="display: flex; flex-direction: row; justify-content: center;">
                            <img src="{{i.images.url}}" style="width: 270px; height: 180px;">

                            <div class="order" style="margin: 15px 30px;">
                                <div style="color: #01B3E4; font-weight: bold; font-size:21px">
                                    {{i.title}}
                                </div>
                                <div>
                                    <div style="margin: 5px 0px; font-size: 15px">
                                        {{i.description}}
                                    </div>
                                    <hr>
                                    <div style="margin: 15px 0px; color: #000; font-size: 18px; font-weight:bold">
                                        Price: ₹{{i.price}}/-
                                    </div>
                                    {% if j.quantity %}
                                    <div style="margin: 15px 0px; color: #000; font-size: 18px; font-weight:bold">
                                        Quantity: {{j.quantity}} Qty
                                    </div>
                                    {% else %}
                                    <div style="margin: 15px 0px; color: #000; font-size: 18px; font-weight:bold">
                                        Quantity: {{j}} Qty
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor%}
                        <!-- -------------------Main Section End---------------------- -->

                    </div>

                    <!-- -------------------Total Pricing Section Start---------------------- -->
                    <div class="col-md-8 mx-auto">
                        <div class="contact-title">
                            <div style="font-weight: 700; font-size:25px; color: #000; margin: 20px 0">
                                Total Amount: <span style="color: #01B3E4;"> ₹{{p}}/- </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <!-- -------------------Total Pricing Section End---------------------- -->



                    <!-- -------------------Billing Section Start---------------------- -->

                    <div class="col-md-8 mx-auto">
                        <div class="contact-title">
                            <h3 style="color: #01B3E4">Billing Address</h3>
                        </div>
                        <br />

                        <form method="POST">
                            {% csrf_token %}
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="row">

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input id="name" class="form-control custom-form" placeholder="*Full Name: "
                                                required="required" data-error="Valid email is required." name="name"
                                                type="text">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input id="email" class="form-control custom-form" required="required"
                                                data-error="Valid email is required." name="date" type="text"
                                                placeholder="*Service-Date: ">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input id="email" class="form-control custom-form" required="required"
                                                data-error="Valid email is required." name="city" type="text"
                                                placeholder="*City: ">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control custom-form" required="required"
                                                data-error="Valid email is required." name="state" type="text"
                                                placeholder="*State: ">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input id="email" class="form-control custom-form" required="required"
                                                data-error="Valid email is required." name="address" type="text"
                                                placeholder="*Address: ">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input id="email" class="form-control custom-form" required="required"
                                                data-error="Valid email is required." name="pincode" type="number"
                                                placeholder="*Pin-Code: ">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input id="email" class="form-control custom-form" required="required"
                                                data-error="Valid email is required." name="phone" type="text"
                                                placeholder="*Contact.No: ">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="required">
                                            * These fields are required.
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <form action="https://www.example.com/payment/success/" method="POST">
                                            <script src="https://checkout.razorpay.com/v1/checkout.js"
                                                data-key="rzp_test_ov7fBmU4EJwsAn" // Enter the Test API Key ID generated from
                                                Dashboard → Settings → API Keys data-amount={{p}} // Amount is in
                                                currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                                                data-currency="INR" // You can accept international payments by changing
                                                the currency code. Contact our Support Team to enable International for
                                                your account data-order_id="order_CgmcjRh9ti2lP7" // Replace with the
                                                order_id generated by you in the backend.
                                                data-buttontext="Pay with Razorpay" data-name="Acme Corp"
                                                data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                                                data-image="https://example.com/your_logo.jpg"
                                                data-prefill.name="Gaurav Kumar"
                                                data-prefill.email="gaurav.kumar@example.com"
                                                data-theme.color="#F37254">
                                                </script>
                                            <input type="hidden" custom="Hidden Element" name="hidden">
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" style="margin: 20px 0">
                                            <a href="{% url 'HOME' %}">
                                                <button class="btn btn-washla">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <!-- -------------------Billing Section End---------------------- -->

                </div>


            </div>
        </div>
    </div>

    <!-- footer -->
    {% endblock %}