{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Sub Product</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>  
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <div class="container mt-5 mb-5">

            <div class="row">
                <div class="col-lg-9">
                    <div class="blog-content">
                        <figure class="post-image">
                            <img style="height: 446px; width: 804px; " src="{{object.images.url}}" alt="">
                        </figure>

                        <div class="post-content">
                            <!-- <blockquote class="ludwig">Rs {{object.title}}/-</blockquote> -->
                            <h3 class="post-title">{{object.title}}</h3>
                            <p>{{object.description}}</p>

                            <a class="btn btn-washla" style="padding: 4px; margin: 8px; color: #fff;" >Rs {{object.price}}/-</a>
                            
                            <form method="POST">
                                {% csrf_token %}
                                <span style="color: #000; font-weight: 600; font-size: 16px;">
                                    Qunatity
                                </span>
                               <input type="submit" value="-" name='psub' style="margin-left: 5px;margin-bottom: 15px;">
                               <input value={{qty}} min="1" name="qty" readonly>
                               <input type="submit" value="+" name='psub'>
                            </form>

                            <a href="{% url 'CART' object.id qty %}">
                                <h5 style="color: #01B3E4;">
                                    Add to cart
                                </h5>
                            </a>
                        
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- CONTENT END -->
{% endblock %}