{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- 404 ERROR PAGE CONTENT -->
    <div class="error-page">
        <div class="error-page-content">
            <h1>404</h1>
            <h2>PAGE NOT FOUND</h2>
            <p>Sorry, but the page you are looking for does not exist or has been removed</p>
            <div class="form-group error-page-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Site Search">
            </div>
        </div>  
    </div>
    <!-- 404 ERROR PAGE CONTENT -->
{% endblock %}