{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Contact Us</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>  
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <!-- CONTACT BOX START -->
        <div class="bg-wrapper contact-wrapper mb-5">
            <div class="container">
                
                {% if value %}
                <div class="row">
                    <div class="col-lg-12 spacing-m-center">
                        <div class="cw-box">
                            <h2 style="color: #01B3E4; margin:-30px 0 70px 0;">{{value}}</h2>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="row">

                    <div class="col-lg-4">
                        <div class="cw-box">
                            <figure class="cw-icon">
                                <img src="{% static 'images/icons/placeholder.png' %}" alt="">
                            </figure>
                            <p>Prahlad Nagar,</p>
                            <p>Ahmedabad, 380051, Gujarat, India</p>
                        </div>
                    </div>
                    <div class="col-lg-4 spacing-m-center">
                        <div class="cw-box">
                            <figure class="cw-icon">
                                <img src="{% static 'images/icons/telephone.png' %}" alt="">
                            </figure>
                            <p>+91 940-732-8187</p>
                            <p>+91 780-197-1870</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cw-box">
                            <figure class="cw-icon">
                                <img src="{% static 'images/icons/email.png' %}" alt="">
                            </figure>
                            <p>info@washla.com</p>
                            <p>sales@washla.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- CONTACT BOX END -->
        
        <!-- CONTACT FORM START -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="contact-title">
                        <h3>Get in Touch With Us</h3>
                        <p>World’s leading non-asset- based supply chain management companies, we design and implement industry-leading. We specialise in intelligent & effective search and believes business.</p>
                    </div>
                    <br/>
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="messages"></div>
                        <div class="controls">
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="name" id="form_name" type="text" class="form-control custom-form" placeholder="*Name" required="required" data-error="Name is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input name="email"  id="form_email" type="email" class="form-control custom-form" placeholder="*Email address" required="required" data-error="Email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input name="phone"  id="form_phone" type="tel" class="form-control custom-form" placeholder="*Please enter your phone" required="required" data-error="Phone is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="form_message" class="form-control message-form custom-form" placeholder="*Your message" rows="6" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="required">
                                        * These fields are required.
                                    </p>
                                </div>
                                <div class="col-md-12 btn-send">
                                    <p><input type="submit" class="btn btn-washla" value="Send Message"></p>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- CONTACT FORM END -->

        <!-- MAP START -->
        <div class="bottom-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14689.447425330363!2d72.5006607801406!3d23.010482309345306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9ad9da91785f%3A0x293927860b753ab8!2sPrahlad%20Nagar%2C%20Ahmedabad%2C%20Gujarat%20380015!5e0!3m2!1sen!2sin!4v1641051717666!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- MAP END -->
    </section>
    <!-- CONTENT END -->

{% endblock %}