{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Masonry Gallery</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>  
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <!-- PROJECT GRID START -->
        <div class="container mt-5 mb-5">
            <div class="grid">
                <div class="filter-container">
                    <ul class="filter">
                        <li class="active" data-filter="*">All</li>
                    <li data-filter=".house">House</li>
                    <li data-filter=".apartment">Apartment</li>
                    <li data-filter=".office">Office</li>
                    </ul>
                </div>
                <div class="grid" id="kehl-grid">
                    <div class="grid-sizer"></div>

                    <div class="grid-box grid-item house">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-1.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-1.jpg' %}" alt="" />
                            <h3>Carpet</h3>
                        </a>
                    </div>
       
                    <div class="grid-box grid-item apartment">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-2.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-2.jpg' %}" alt="" />
                            <h3>Home</h3>
                        </a>
                    </div>
           
                    <div class="grid-box grid-item office">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-3-alt.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-3.jpg' %}" alt="" />
                            <h3>Office</h3>
                        </a>
                    </div>
       
                    <div class="grid-box grid-item house">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-4.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-4.jpg' %}" alt="" />
                            <h3>Clean</h3>
                        </a>
                    </div>

                    <div class="grid-box grid-item office">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-5.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-5.jpg' %}" alt="" />
                            <h3>Cleaning</h3>
                        </a>
                    </div>
           
                    <div class="grid-box grid-item house">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-6.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-6.jpg' %}" alt="" />
                            <h3>Office</h3>
                        </a>
                    </div>
    
                    <div class="grid-box grid-item office">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-7-alt.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-7.jpg' %}" alt="" />
                            <h3>Apartment</h3>
                        </a>
                    </div>
          
                    <div class="grid-box grid-item apartment house">
                        <a class="image-popup-vertical-fit"
                            href="{% static 'images/commons/masonry-gallery-8.jpg' %}">
                            <div class="image-mask"></div>
                            <img src="{% static 'images/commons/masonry-gallery-8.jpg' %}" alt="" />
                            <h3>Cleaning</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- PROJECT GRID END -->
        <br/>
        <br/>
        <br/>
    </section>
    <!-- CONTENT END -->

    {% endblock %}