{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Our Team</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>  
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <!-- TEAM START -->
        <div class="container mt-5 mb-5">
            <div class="row tc-page"> 
                <div class="col-md-6 col-lg-4"> 
                    <div class="team-card">
                        <figure class="tc-portrait">
                            <img src="{% static 'images/commons/team-portrait-1.jpg' %}" alt="">
                            <ul class="tc-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </figure>
                        <div class="tc-caption">
                            <h4>Laura Jones</h4>
                            <p>Cleaner</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6 col-lg-4"> 
                    <div class="team-card">
                        <figure class="tc-portrait">
                            <img src="{% static 'images/commons/team-portrait-2.jpg' %}" alt="">
                            <ul class="tc-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </figure>
                        <div class="tc-caption">
                            <h4>Sara Ryan</h4>
                            <p>House Cleaner</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6 col-lg-4"> 
                    <div class="team-card">
                        <figure class="tc-portrait">
                            <img src="{% static 'images/commons/team-portrait-3.jpg' %}" alt="">
                            <ul class="tc-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </figure>
                        <div class="tc-caption">
                            <h4>John Smith</h4>
                            <p>Housekeeper</p>
                        </div>
                    </div>
                </div> 
                <div class="col-md-6 col-lg-4"> 
                    <div class="team-card">
                        <figure class="tc-portrait">
                            <img src="{% static 'images/commons/team-portrait-4.jpg' %}" alt="">
                            <ul class="tc-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </figure>
                        <div class="tc-caption">
                            <h4>Maria Johnson</h4>
                            <p>Cleaning Attendants</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4"> 
                    <div class="team-card">
                        <figure class="tc-portrait">
                            <img src="{% static 'images/commons/team-portrait-5.jpg' %}" alt="">
                            <ul class="tc-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </figure>
                        <div class="tc-caption">
                            <h4>Monica Gordon</h4>
                            <p>House Cleaning</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4"> 
                    <div class="team-card">
                        <figure class="tc-portrait">
                            <img src="{% static 'images/commons/team-portrait-5.jpg' %}" alt="">
                            <ul class="tc-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </figure>
                        <div class="tc-caption">
                            <h4>Monica Gordon</h4>
                            <p>House Cleaning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TEAM END -->

        <!-- CAROUSEL INFO SECTION START -->
        <div class="container mt-5">
            <div class="cover-feature">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="gallery-carousel">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="gallery-slider-bg"
                                        style="background-image:url({% static 'images/commons/washla-6.jpg' %});"></div>
                                </div>
                                <div class="item">
                                    <div class="gallery-slider-bg"
                                        style="background-image:url({% static 'images/commons/blog-thumb-11.jpg' %});"></div>
                                </div>
                                <div class="item">
                                    <div class="gallery-slider-bg"
                                        style="background-image:url({% static 'images/commons/washla-about.jpg' %});"></div>
                                </div>
                            </div>
                            <div class="owl-theme">
                                <div class="owl-controls">
                                    <div class="custom-nav owl-nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="cf-content">
                            <h2>The New Generation of Cleaning and Restoration</h2>
                            <p>World’s leading non-asset- based supply chain management companies, we design and implement industry-leading. We specialise in intelligent & effective search and believes in the power of partnerships to grow business..</p>
                            <div class="order-list d-flex">
                                <ul class="ol-left">
                                    <li>Service guarantee</li>
                                    <li>Tradition of trust</li>
                                </ul>
                                <ul class="ol-right">
                                    <li>Shifting idled planes.</li>
                                    <li>Sustainable trade
                                    </li>
                                </ul>
                            </div>

                            <div class="cf-box-layer d-flex">
                                <div class="cfb-inner">
                                    <div class="media">
                                        <img src="{% static 'images/icons/guarantee.png' %}"
                                            class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h5 class="mt-0">Service Guarantee</h5>
                                            <p>We are telling our team members to switch cleaning.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cfb-inner">
                                    <div class="media">
                                        <img src="{% static 'images/icons/medal-award.png' %}"
                                            class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h5 class="mt-0">Awarded Company</h5>
                                            <p>We encourage our customers to let us know in advance.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL INFO SECTION END -->

        <!-- COUNTER START -->
        <div class="ww-counter mb-5">
            <div class="container">
                <div class="counter-bar">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="media counter-layer right-border">
                                <img src="{% static 'images/icons/happy.png' %}" class="mr-3" alt="...">
                                <div class="media-body">
                                    <div class="counter" data-count="385">0</div>
                                    <p>Happy Customers</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="media counter-layer right-border">
                                <img src="{% static 'images/icons/counter-house-cleaning.png' %}" class="mr-3" alt="...">
                                <div class="media-body">
                                    <div class="counter" data-count="842">0</div>
                                    <p>Houses Cleaned</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="media counter-layer right-border">
                                <img src="{% static 'images/icons/counter-award.png' %}" class="mr-3" alt="...">
                                <div class="media-body">
                                    <div class="counter" data-count="489">0</div>
                                    <p>Awards Received</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="media counter-layer">
                                <img src="{% static 'images/icons/service-glass-cleaning.png' %}" class="mr-3" alt="...">
                                <div class="media-body">
                                    <div class="counter" data-count="1344">0</div>
                                    <p>Glass Cleaned</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- COUNTER END -->

        <!-- CLIENTS CAROUSEL START -->
        <div class="container mt-5 mb-5">
            <div class="clients-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-1.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-5.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-8.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-4.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-2.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-6.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-7.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-3.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CLIENTS CAROUSEL END -->
    </section>
    <!-- CONTENT END -->
{% endblock %}