{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Services</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <!-- SERVICE START -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-1.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-house-cleaning.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Home Cleaning</h4>
                                <p>Homes and thoroughly launder them between usage, We give our teams the accusantium
                                    doloremque laudantium. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-2.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-cleaning.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Office Cleaning</h4>
                                <p>We are closely monitoring national, state and local health agencies for the most
                                    recent developments. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-3.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-service-glass-cleaning.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Windows Cleaning</h4>
                                <p>Follow these tips from the CDC to help prevent the spread of the seasonal flu and
                                    respiratory diseases. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-4.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-vaccum-cleaner.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Carpet Cleaning</h4>
                                <p>Cleanliness plays a large role in the comfort of your home, but many homeowners
                                    simply don’t have. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-5.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-cleaning-tools.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Deep Cleaning</h4>
                                <p>We realize that every family has their own preferences, so we accommodate all your
                                    specific requests into. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-6.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-cleaner.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Apartment Cleaning</h4>
                                <p>While some cleaning companies use rotating cleaning plans, we’re equipped to clean
                                    your entire house.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SERVICE END -->

        <!-- CLIENTS CAROUSEL END -->
    </section>
    <!-- CONTENT END -->
    {% endblock %}