{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Services</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <!-- SERVICE START -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-1.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-house-cleaning.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Home Cleaning</h4>
                                <p>Homes and thoroughly launder them between usage, We give our teams the accusantium
                                    doloremque laudantium. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-2.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-cleaning.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Office Cleaning</h4>
                                <p>We are closely monitoring national, state and local health agencies for the most
                                    recent developments. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-3.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-service-glass-cleaning.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Windows Cleaning</h4>
                                <p>Follow these tips from the CDC to help prevent the spread of the seasonal flu and
                                    respiratory diseases. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-4.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-vaccum-cleaner.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Carpet Cleaning</h4>
                                <p>Cleanliness plays a large role in the comfort of your home, but many homeowners
                                    simply don’t have. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-5.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-cleaning-tools.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Deep Cleaning</h4>
                                <p>We realize that every family has their own preferences, so we accommodate all your
                                    specific requests into. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="sb-washla">
                        <figure class="sb-thumbail"><img src="{% static 'images/commons/service-6.jpg' %}" alt=""></figure>
                        <div class="sb-caption">
                            <div class="sb-inner-caption">
                                <div class="sb-circle-layer">
                                    <figure class="sb-center-icon">
                                        <img src="{% static 'images/icons/white-cleaner.png' %}" alt="">
                                    </figure>
                                </div>
                                <h4>Apartment Cleaning</h4>
                                <p>While some cleaning companies use rotating cleaning plans, we’re equipped to clean
                                    your entire house.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SERVICE END -->

        <!-- TESTIMONIALS START -->
        <div class="bg-wrapper mt-5 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 tl-layer">
                        <div class="about-testimonials">
                            <h5>Testimonials</h5>
                            <h2>Customer Love Our Service</h2>
                            <p>Cleanliness plays a large role in the comfort of your home, but many homeowners simply
                                don’t have the time to complete this task due to their busy lifestyles.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 spacing-md">
                        <div class="testimonials-layer">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img src="{% static 'images/commons/avatar5.jpg' %}" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Monica Johnson</h5>
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                            praesentium voluptatum deleniti atque.</p>
                                    </div>
                                    <div class="quote-icon">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </li>
                                <li class="media">
                                    <img src="{% static 'images/commons/avatar4.jpg' %}" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Lisa Douglas</h5>
                                        <p>Must explain to you how all this mistaken idea of denouncing pleasure and
                                            praising pain was born and I will.</p>
                                    </div>
                                    <div class="quote-icon">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </li>
                                <li class="media">
                                    <img src="{% static 'images/commons/avatar3.jpg' %}" class="mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Albert Thomas</h5>
                                        <p>harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                                            cum soluta nobis est eligendi optio.</p>
                                    </div>
                                    <div class="quote-icon">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TESTIMONIALS END -->

        <!-- PRICING START -->
        <div class="container mt-5 mb-5">
            <div class="section-title">
                <h2>Our Pricing</h2>
            </div>
            <div class="row flex-items-xs-middle flex-items-xs-center">
                <!-- Table #1  -->
                <div class="col-xs-12 col-lg-4">
                    <div class="card text-xs-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">$</span>19<span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title">
                                Basic Plan
                            </h3>
                            <ul class="list-group">
                                <li class="list-group-item">Ultimate Features</li>
                                <li class="list-group-item">Responsive Ready</li>
                                <li class="list-group-item">Visual Composer Included</li>
                                <li class="list-group-item">24/7 Support System</li>
                            </ul>
                            <a href="#" class="btn-washla mt-3">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <!-- Table #1  -->
                <div class="col-xs-12 col-lg-4 spacing-m-center">
                    <div class="card text-xs-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">$</span>29<span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title">
                                Regular Plan
                            </h3>
                            <ul class="list-group">
                                <li class="list-group-item">Ultimate Features</li>
                                <li class="list-group-item">Responsive Ready</li>
                                <li class="list-group-item">Visual Composer Included</li>
                                <li class="list-group-item">24/7 Support System</li>
                            </ul>
                            <a href="#" class="btn-washla mt-3">Choose Plan</a>
                        </div>
                    </div>
                </div>
                <!-- Table #1  -->
                <div class="col-xs-12 col-lg-4">
                    <div class="card text-xs-center">
                        <div class="card-header">
                            <h3 class="display-2"><span class="currency">$</span>39<span class="period">/month</span>
                            </h3>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title">
                                Premium Plan
                            </h3>
                            <ul class="list-group">
                                <li class="list-group-item">Ultimate Features</li>
                                <li class="list-group-item">Responsive Ready</li>
                                <li class="list-group-item">Visual Composer Included</li>
                                <li class="list-group-item">24/7 Support System</li>
                            </ul>
                            <a href="#" class="btn-washla mt-3">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRICING END -->

        <!-- TEAM STAR-->
        <div class="team-banner-wrapper mt-5 mb-5">
            <div class="container">
                <div class="section-heading">
                    <div class="row">
                        <div class="col-10 col-md-6 mx-auto text-center">
                            <h5 class="subtitle">Meet Our</h5>
                            <h2>Professional Team</h2>
                            <p>Washla is a global community of practice that facilitates dialogue, information exchange
                                and use of information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container team-layer-up mb-5">
            <div class="team-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="team-card">
                            <figure class="tc-portrait">
                                <img src="{% static 'images/commons/team-portrait-1.jpg' %}" alt="">
                                <ul class="tc-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </figure>
                            <div class="tc-caption">
                                <h4>Laura Jones</h4>
                                <p>Cleaner</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-card">
                            <figure class="tc-portrait">
                                <img src="{% static 'images/commons/team-portrait-2.jpg' %}" alt="">
                                <ul class="tc-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </figure>
                            <div class="tc-caption">
                                <h4>Sara Ryan</h4>
                                <p>House Cleaner</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-card">
                            <figure class="tc-portrait">
                                <img src="{% static 'images/commons/team-portrait-3.jpg' %}" alt="">
                                <ul class="tc-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </figure>
                            <div class="tc-caption">
                                <h4>John Smith</h4>
                                <p>Housekeeper</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-card">
                            <figure class="tc-portrait">
                                <img src="{% static 'images/commons/team-portrait-4.jpg' %}" alt="">
                                <ul class="tc-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </figure>
                            <div class="tc-caption">
                                <h4>Maria Johnson</h4>
                                <p>Cleaning Attendants</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-card">
                            <figure class="tc-portrait">
                                <img src="{% static 'images/commons/team-portrait-5.jpg' %}" alt="">
                                <ul class="tc-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </figure>
                            <div class="tc-caption">
                                <h4>Monica Gordon</h4>
                                <p>House Cleaning</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-theme">
                    <div class="owl-controls">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TEAM END-->

        <!-- CLIENTS CAROUSEL START -->
        <div class="container mt-5 mb-5">
            <div class="clients-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-1.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-5.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-8.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-4.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-2.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-6.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-7.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-box">
                            <figure class="client-icon">
                                <img src="{% static 'images/commons/client-logo-3.jpg' %}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CLIENTS CAROUSEL END -->
    </section>
    <!-- CONTENT END -->
    {% endblock %}