{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--SLIDER START-->
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Testimonials</h1>
                <p>A new generation of cleaning and restoration concepts.</p>
            </div>
        </div>  
    </div>
    <!--SLIDER END-->
</header>

    <!-- CONTENT START -->
    <section>
        <!-- TESTIMONIALS START --> 
        <div class="container mt-5 mb-5">
            <div class="section-heading">
                <div class="row">
                    <div class="col-10 col-md-6 mx-auto text-center">
                        <h5 class="subtitle">Customer Opinions</h5>
                        <h2>What Customer Says</h2>
                        <p>Washla is a global community of practice that facilitates dialogue, information exchange and use of information.</p>
                    </div>
                </div>
            </div>
            <div class="row testimonial-grid">
                <div class="col-md-6 col-lg-4">
                    <div class="testimonials-box">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                        </ul>
                        <p class="client-testimonial">
                            Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit 
                        </p>
                        <div class="media"> 
                            <img src="{% static 'images/commons/avatar-1' %}.jpg" class="mr-3" alt="..."> 
                            <div class="media-body"> 
                            <h5 class="mt-0">Sara Jones</h5>
                            <p>Marketing</p> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="testimonials-box">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                        <p class="client-testimonial">
                            Praising pain was born and I will give you a complete account of the system, and expound the actual teachings pursues or desires to obtain.
                        </p>
                        <div class="media"> 
                            <img src="{% static 'images/commons/avatar2.jpg' %}" class="mr-3" alt="..."> 
                            <div class="media-body"> 
                            <h5 class="mt-0">Maria Cimino</h5>
                            <p>Architect</p> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="testimonials-box">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                        <p class="client-testimonial">
                            Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt.
                        </p>
                        <div class="media"> 
                            <img src="{% static 'images/commons/avatar3.jpg' %}" class="mr-3" alt="..."> 
                            <div class="media-body"> 
                            <h5 class="mt-0">Michael Smith</h5>
                            <p>Web Designer</p> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="testimonials-box">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                        <p class="client-testimonial">
                            we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.
                        </p>
                        <div class="media"> 
                            <img src="{% static 'images/commons/avatar4.jpg' %}" class="mr-3" alt="..."> 
                            <div class="media-body"> 
                            <h5 class="mt-0">Andrea Smith</h5>
                            <p>Sales Department</p> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="testimonials-box">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                        <p class="client-testimonial">
                            Weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish.
                        </p>
                        <div class="media"> 
                            <img src="{% static 'images/commons/avatar5.jpg' %}" class="mr-3" alt="..."> 
                            <div class="media-body"> 
                            <h5 class="mt-0">Jim Thomnas</h5>
                            <p>Graphic Designer</p> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="testimonials-box">
                        <ul class="rating">
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="fas fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                        <p class="client-testimonial">
                            Pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection.
                        </p>
                        <div class="media"> 
                            <img src="{% static 'images/commons/avatar6.jpg' %}" class="mr-3" alt="..."> 
                            <div class="media-body"> 
                            <h5 class="mt-0">Laura Smith</h5>
                            <p>Senior Lawyer</p> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- TESTIMONIALS START --> 

        <!-- CAROUSEL GALLERY START -->
        <div class="gallery-wrapper mt-5">
            <div class="front-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="thumbnail">
                            <a class="image-popup-vertical-fit" href="{% static 'images/commons/gallery-alt-1.jpg' %}">
                                <div class="image-mask"></div>
                                <img src="{% static 'images/commons/gallery-alt-1.jpg' %}" alt="" />
                            </a>
                            <div class="tc-bottom-content">
                                <h4>Home Cleaning</h4>
                                <p>All Rooms</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <a class="image-popup-vertical-fit" href="{% static 'images/commons/gallery-alt-2.jpg' %}">
                                <div class="image-mask"></div>
                                <img src="{% static 'images/commons/gallery-alt-2.jpg' %}" alt="" />
                            </a>
                            <div class="tc-bottom-content">
                                <h4>Carpet Cleaning</h4>
                                <p>Professional Vacuum</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <a class="image-popup-vertical-fit" href="{% static 'images/commons/gallery-alt-3.jpg' %}">
                                <div class="image-mask"></div>
                                <img src="{% static 'images/commons/gallery-alt-3.jpg' %}" alt="" />
                            </a>
                            <div class="tc-bottom-content">
                                <h4>Apartment Cleaning</h4>
                                <p>Housekeeping</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <a class="image-popup-vertical-fit" href="{% static 'images/commons/gallery-alt-4.jpg' %}">
                                <div class="image-mask"></div>
                                <img src="{% static 'images/commons/gallery-alt-4.jpg' %}" alt="" />
                            </a>
                            <div class="tc-bottom-content">
                                <h4>Windows Cleaning</h4>
                                <p>Professional Care</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="thumbnail">
                            <a class="image-popup-vertical-fit" href="{% static 'images/commons/gallery-alt-5.jpg' %}">
                                <div class="image-mask"></div>
                                <img src="{% static 'images/commons/gallery-alt-5.jpg' %}" alt="" />
                            </a>
                            <div class="tc-bottom-content">
                                <h4>Deep Cleaning</h4>
                                <p>Professional Care</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-theme">
                    <div class="owl-controls">
                        <div class="custom-nav owl-nav"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL GALLERY END -->

        <!-- CALL TO ACTION START -->
        <div class="wide-cta-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cta-left-content">
                            <h3>Clean your House and get Cleaning Free.</h3>
                            <p>Washla cleaning service. We are a company dedicated to giving our customers back.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cta-right-content">
                            <button type="button" class="btn-washla btn-outline-white">All Services</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CALL TO ACTION END -->
    </section>
    <!-- CONTENT END -->

{% endblock %}